.card{
    margin-left: 30%;
    margin-right: 30%;
    background-color: bisque;
    height: 500px;
    width: 400px;
    border-radius: 2%;
    color: black;
    text-align: center;
    border-color: black;
    border: solid black;
}
img{
    height: 200px;
    width: 200px;
    padding-left:20% ;
    padding-right: 20%;
    align-self: center;
    padding-top: 5%;
 
}
button{
    width: 200px;
}
